:root {
    --color-1: #000485;
    --color-2: #6bbe41;
    --color-3: #7a542e;

    --color-mc-gui-btn: #6E6E6E;
    --color-mc-gui-btn-hover: #7A84B9;
    --color-mc-gui-btn-hover-txt: #E3F1C7;
    --color-mc-gui-border-1: #A8ACA8;
    --color-mc-gui-border-2: #525451;

    --color-text-1: #ffffff;
}

@font-face {
    font-family: mc-font;
    src: url("./assets/fonts/MinecraftRegular-Bmg3.otf");
}

h1,
h2,
h3 {
    font-weight: lighter;
}

body {
    background-color: var(--color-2);
    color: var(--color-text-1);
    font-family: mc-font;
    padding: 0;
    margin: 0;
    background-color: var(--color-3);
}

header {
    display: grid;
    grid-template-columns: 300px auto;
    background-color: var(--color-2);
    align-items: center;
}

header img {
    margin: 50px;
    height: 150px;
}

.content {
    width: 80%;
    margin: auto;
    padding: 10px;
}

.component-buttoneer {
    display: flex;
    flex-direction: column;
}

#buttoneer-main {
    width: 30%;
    margin: auto;
}

.mc-button {
    font-family: mc-font;
    background-color: var(--color-mc-gui-btn);
    height: 50px;
    color: white;
    font-size: 20px;
    border-bottom: 3px solid var(--color-mc-gui-border-2);
    border-right: 3px solid var(--color-mc-gui-border-2);
    border-top: 3px solid var(--color-mc-gui-border-1);
    border-left: 3px solid var(--color-mc-gui-border-1);
    margin: 10px;
}

.mc-button:hover {
    background-color: var(--color-mc-gui-btn-hover);
    color: var(--color-mc-gui-btn-hover-txt);
}

.mc-button:active {
    border-bottom: 3px solid var(--color-mc-gui-border-1);
    border-right: 3px solid var(--color-mc-gui-border-1);
    border-top: 3px solid var(--color-mc-gui-border-2);
    border-left: 3px solid var(--color-mc-gui-border-2);
}