<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minazon</title>
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/logo.ico') }}" type="image/x-icon"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="shortcut icon" href="../static/assets/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <!-- <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Logo"> -->
        <img src="../static/assets/images/logo.png" alt="Logo">
        <h1>Minazon</h1>
    </header>
    <div class="content">
        <p>Bienvenido a Minazon, el único servicio de paquetería para Minecraft del mundo. Compra en la tienda online y recíbelo en tu mundo de Minecraft.</p>
        <div class="component-buttoneer" id="buttoneer-main">
            <input class="mc-button" id="mc-button-store" type="button" value="Tienda">
            <input class="mc-button" id="mc-button-money" type="button" value="Descubre el Leti">
        </div>
    </div>
</body>
</html>