<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server molón</title>
    <link rel="shortcut icon" href="../static/assets/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <img src="../static/assets/images/logo.png" alt="Logo">
        <h1>Servidor del dios todopoderoso Granpepinillo</h1>
    </header>
    <h1>Aqui aparece un tutorial de como instalar los mods para tontos</h1>
</body>
</html>